{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "kopia-test",
      "endpoint": "192.168.8.171:9000",
      "accessKeyID": "v0Km7Nn1I3mrXThpGm0k",
      "secretAccessKey": "pKqOooSfUbnRGjSoQ5DQ2udfRSOrIoVZLC2CeOzy",
      "sessionToken": "",
      "region": "west"
    }
  },
  "caching": {
    "cacheDirectory": "~/.cache/kopia",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "kopiaserver",
  "username": "kopia",
  "description": "Repository in S3: syntinel-server-kopia-test",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}